* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #fff;
    --secondary-color: #f7f7f7;
    --third-color: #dfdfde;
    --border-inputs: #dfdfde;
    --input-font: #4a4d50;
    --label: #8b9298;
    --green: #22e0a1;
    --green2: #86ddc0;
    --green3: #21ae7f;
}

html {
    font-size: 97.5%;
}

@media (max-width: 720px) {
    html {
        font-size: 85.5%;
    }
}

body {
    background: var(--primary-color);
    color: #29292e;
}

label {
    color: var(--label);
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

body,
input,
button,
textarea,
select {
    font: 400 1rem "Roboto", sans-serif;
}

button,
select {
    cursor: pointer;

    &:focus {
        box-shadow: 0 0 0 0;
        outline: 0;
    }
}
