.title{
    font-family: Roboto,sans-serif;
    color: var(--green3);
    text-shadow: var(--secondary-color) 1px 0 10px;

    margin-bottom: 2rem;
}

@media (max-width: 750px) {
    .title{
        width: 20rem;
        text-align: center;
        
    }
}
